 .u-section-1 {
  background-image: url("images/f46efb22-1445-4d8e-92cb-65094deefec9.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 819px;
}

.u-section-1 .u-group-1 {
  width: 511px;
  min-height: 458px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  height: auto;
  margin: 181px auto 181px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 58px 0 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 0px;
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: none;
  margin: 34px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 34px auto 0 0;
  padding: 16px 39px 17px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-1 .u-group-1 {
    width: 470px;
    margin-top: 109px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.625rem;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 0% 50%;
    background-size: auto 110%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-1 .u-group-1 {
    width: 411px;
    min-height: 457px;
    margin-top: 181px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 36.14% 69.34%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-1 .u-group-1 {
    width: 315px;
    min-height: 455px;
    margin-top: 30px;
    margin-bottom: 32px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 78.77% 100%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-1 .u-group-1 {
    min-height: 413px;
    margin-top: 261px;
    margin-bottom: 36px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 709px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 589px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 260px;
  height: 529px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 582px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-group-1 {
  min-height: 241px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 589px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 30px 18px;
}

.u-section-2 .u-group-2 {
  min-height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 486px;
    background-position: 27.86% 50%;
  }

  .u-section-2 .u-image-1 {
    width: 253px;
    height: 515px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 480px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 486px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 234px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 358px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 122px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 696px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 230px;
    height: 465px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 113px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 438px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 163px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/vbvbb-min.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 863px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  width: 653px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 22px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 56px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 417px;
  grid-gap: 20px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  transition-duration: 0.75s;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-1 {
  height: 98px;
  width: 98px;
  transition-duration: 0.5s;
  background-image: none;
  margin: 0 auto;
  padding: 20px;
}

.u-section-3 .u-text-3 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  transition-duration: 0.5s;
  margin: 30px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  margin: 22px 0 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  transition-duration: 0.75s;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-2 {
  height: 98px;
  width: 98px;
  transition-duration: 0.5s;
  background-image: none;
  margin: 0 auto;
  padding: 20px;
}

.u-section-3 .u-text-5 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  transition-duration: 0.5s;
  margin: 30px 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  margin: 22px 0 0;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  transition-duration: 0.75s;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-3 {
  height: 98px;
  width: 98px;
  transition-duration: 0.5s;
  background-image: none;
  margin: 0 auto;
  padding: 20px;
}

.u-section-3 .u-text-7 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  transition-duration: 0.5s;
  margin: 30px 0 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  margin: 22px 0 0;
}

.u-section-3 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  transition-duration: 0.75s;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-4 {
  height: 98px;
  width: 98px;
  transition-duration: 0.5s;
  background-image: none;
  margin: 0 auto;
  padding: 20px;
}

.u-section-3 .u-text-9 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  transition-duration: 0.5s;
  margin: 30px 0 0;
}

.u-section-3 .u-text-10 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  margin: 22px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 344px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1214px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 810px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 911px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 60px;
  }
}

.u-section-3 .u-list-item-1,
.u-section-3 .u-list-item-1:before,
.u-section-3 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1:hover:before {
  background-color: #db545a !important;
}

.u-section-3 .u-list-item-2,
.u-section-3 .u-list-item-2:before,
.u-section-3 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2:hover:before {
  background-color: #db545a !important;
}

.u-section-3 .u-list-item-3,
.u-section-3 .u-list-item-3:before,
.u-section-3 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3:hover:before {
  background-color: #db545a !important;
}

.u-section-3 .u-list-item-4,
.u-section-3 .u-list-item-4:before,
.u-section-3 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-4.u-list-item-4.u-list-item-4:hover:before {
  background-color: #db545a !important;
}

.u-section-3 .u-icon-1,
.u-section-3 .u-icon-1:before,
.u-section-3 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-icon-1 .u-svg-link {
  fill: var(--#ffffff) !important;
}

.u-section-3 .u-container-layout:hover .u-icon-1 {
  background-color: #db545a !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-3 .u-icon-1 .u-svg-link {
  fill: var(--#ffffff) !important;
}

.u-container-layout.hover .u-section-3 .u-icon-1 {
  background-color: #db545a !important;
  opacity: 1 !important;
}

.u-section-3 .u-icon-2,
.u-section-3 .u-icon-2:before,
.u-section-3 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-icon-2 .u-svg-link {
  fill: var(--#ffffff) !important;
}

.u-section-3 .u-container-layout:hover .u-icon-2 {
  background-color: #db545a !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-3 .u-icon-2 .u-svg-link {
  fill: var(--#ffffff) !important;
}

.u-container-layout.hover .u-section-3 .u-icon-2 {
  background-color: #db545a !important;
  opacity: 1 !important;
}

.u-section-3 .u-icon-3,
.u-section-3 .u-icon-3:before,
.u-section-3 .u-icon-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-icon-3 .u-svg-link {
  fill: var(--#ffffff) !important;
}

.u-section-3 .u-container-layout:hover .u-icon-3 {
  background-color: #db545a !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-3 .u-icon-3 .u-svg-link {
  fill: var(--#ffffff) !important;
}

.u-container-layout.hover .u-section-3 .u-icon-3 {
  background-color: #db545a !important;
  opacity: 1 !important;
}

.u-section-3 .u-icon-4,
.u-section-3 .u-icon-4:before,
.u-section-3 .u-icon-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-icon-4 .u-svg-link {
  fill: var(--#ffffff) !important;
}

.u-section-3 .u-container-layout:hover .u-icon-4 {
  background-color: #db545a !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-3 .u-icon-4 .u-svg-link {
  fill: var(--#ffffff) !important;
}

.u-container-layout.hover .u-section-3 .u-icon-4 {
  background-color: #db545a !important;
  opacity: 1 !important;
}

.u-section-3 .u-text-3,
.u-section-3 .u-text-3:before,
.u-section-3 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-3 {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-3 .u-text-3 {
  color: #ffffff !important;
}

.u-section-3 .u-text-5,
.u-section-3 .u-text-5:before,
.u-section-3 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-5 {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-3 .u-text-5 {
  color: #ffffff !important;
}

.u-section-3 .u-text-7,
.u-section-3 .u-text-7:before,
.u-section-3 .u-text-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-7 {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-3 .u-text-7 {
  color: #ffffff !important;
}

.u-section-3 .u-text-9,
.u-section-3 .u-text-9:before,
.u-section-3 .u-text-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-9 {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-3 .u-text-9 {
  color: #ffffff !important;
}

.u-section-3 .u-text-8,
.u-section-3 .u-text-8:before,
.u-section-3 .u-text-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-8 {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-3 .u-text-8 {
  color: #ffffff !important;
}

.u-section-3 .u-text-4,
.u-section-3 .u-text-4:before,
.u-section-3 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-4 {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-3 .u-text-4 {
  color: #ffffff !important;
}

.u-section-3 .u-text-6,
.u-section-3 .u-text-6:before,
.u-section-3 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-6 {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-3 .u-text-6 {
  color: #ffffff !important;
}

.u-section-3 .u-text-10,
.u-section-3 .u-text-10:before,
.u-section-3 .u-text-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-10 {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-3 .u-text-10 {
  color: #ffffff !important;
}

.u-block-f825-57:not([data-block-selected]):not([data-cell-selected]),
.u-block-f825-57:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-f825-57:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-f825-57:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-f825-57:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #ffffff !important;
}

.u-block-f825-56:not([data-block-selected]):not([data-cell-selected]),
.u-block-f825-56:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-f825-56:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-f825-56:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-f825-56:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #ffffff !important;
}

.u-block-f825-58:not([data-block-selected]):not([data-cell-selected]),
.u-block-f825-58:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-f825-58:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-f825-58:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-f825-58:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #ffffff !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1106px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 896px;
  margin: 149px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 353px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 67px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 472px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-group-1 {
  min-height: 311px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 28px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 469px;
  background-image: url("images/EECircuitExperiment3.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 226px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: auto;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1439px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 613px;
    margin-top: 55px;
    margin-bottom: 54px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 388px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    min-height: 754px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 208px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1526px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 665px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    min-height: 419px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 933px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 39px;
  margin-bottom: 39px;
}

.u-section-5 .u-image-1 {
  min-height: 600px;
  background-image: url("images/211007-F-NH566-1002.jpg");
  background-position: 14.69% 89.76%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 31px 30px 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 855px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 249px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 40px 0 0;
}

.u-section-5 .u-btn-1 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  margin: 28px auto 0 0;
  padding: 17px 38px 18px 37px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 55px;
    margin-bottom: 55px;
  }

  .u-section-5 .u-image-1 {
    min-height: 718px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 726px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 894px;
  }

  .u-section-5 .u-image-1 {
    min-height: 920px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-5 .u-image-1 {
    min-height: 690px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-5 .u-image-1 {
    min-height: 434px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 827px;
}

.u-section-6 .u-image-1 {
  width: 661px;
  height: 661px;
  background-image: url("images/g.jpg");
  background-position: 50% 50%;
  margin: 60px 0 0 auto;
}

.u-section-6 .u-layout-wrap-1 {
  width: 570px;
  margin: -603px auto 72px 73px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 210px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-6 .u-image-2 {
  width: 180px;
  height: 180px;
  background-image: url("images/vvv.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 156px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-1 {
  line-height: 2;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-image-1 {
    width: 585px;
    height: 585px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 470px;
    margin-top: -527px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 382px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1154px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 55px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -1045px;
    margin-bottom: 16px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1172px;
  }

  .u-section-6 .u-image-1 {
    width: 498px;
    height: 498px;
    margin-top: 60px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -1022px;
    margin-bottom: -34px;
    margin-left: 0;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1088px;
  }

  .u-section-6 .u-image-1 {
    width: 314px;
    height: 314px;
    margin-top: 55px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -978px;
    margin-bottom: -351px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 152px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1068px;
}

.u-section-7 .u-shape-1 {
  width: 404px;
  height: 404px;
  background-image: none;
  margin: 70px 293px 0 auto;
}

.u-section-7 .u-image-1 {
  width: 343px;
  height: 617px;
  margin: -271px 71px 0 auto;
}

.u-section-7 .u-image-2 {
  width: 369px;
  height: 369px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  background-image: url("images/hggh-min.jpg");
  background-position: 50% 50%;
  margin: -191px 293px 0 auto;
}

.u-section-7 .u-group-1 {
  width: 544px;
  min-height: 493px;
  box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.1);
  height: auto;
  margin: -672px auto 60px 0;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 3.4375rem;
  font-weight: 600;
  line-height: 1.2;
  background-image: none;
  margin: 0;
}

.u-section-7 .u-btn-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  background-image: none;
  margin: 25px auto 0 0;
  padding: 16px 47px 16px 46px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1058px;
  }

  .u-section-7 .u-shape-1 {
    margin-right: 206px;
  }

  .u-section-7 .u-image-1 {
    margin-right: 0;
  }

  .u-section-7 .u-image-2 {
    margin-right: 215px;
  }

  .u-section-7 .u-group-1 {
    width: 452px;
    min-height: 449px;
    height: auto;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-7 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1098px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 71px;
    margin-right: 144px;
  }

  .u-section-7 .u-image-1 {
    width: 313px;
    height: 636px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -161px;
    margin-right: 114px;
  }

  .u-section-7 .u-group-1 {
    width: 360px;
    min-height: 487px;
    margin-top: -701px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1543px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 270px;
    margin-right: auto;
  }

  .u-section-7 .u-image-1 {
    margin-top: -215px;
  }

  .u-section-7 .u-image-2 {
    margin-top: 229px;
    margin-right: auto;
    margin-left: 28px;
  }

  .u-section-7 .u-group-1 {
    width: 388px;
    min-height: 419px;
    margin-top: -828px;
  }

  .u-section-7 .u-container-layout-1 {
    padding: 28px 20px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1377px;
  }

  .u-section-7 .u-shape-1 {
    height: 268px;
    width: 268px;
    margin-top: 238px;
    margin-left: 0;
  }

  .u-section-7 .u-image-1 {
    width: 279px;
    height: 516px;
    margin-top: -151px;
  }

  .u-section-7 .u-image-2 {
    width: 308px;
    height: 308px;
    margin-top: 325px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-7 .u-group-1 {
    min-height: 400px;
    margin-top: -769px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 40px;
  }
} .u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/nmmn-min.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 782px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 966px;
  margin: 75px auto 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 597px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-8 .u-form-1 {
  height: 299px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-8 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  font-size: 1.125rem;
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 597px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-2 {
  padding: 20px;
}

.u-section-8 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 48px auto 0;
}

.u-section-8 .u-text-3 {
  margin: 20px 18px 0;
}

.u-section-8 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  width: 183px;
  margin: 60px auto 0;
}

.u-section-8 .u-text-5 {
  font-size: 1rem;
  margin: 18px 33px 0;
}

.u-section-8 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 60px 106px 0 129px;
}

.u-section-8 .u-text-7 {
  line-height: 2;
  font-weight: normal;
  margin: 20px 32px 0;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-text-8 {
  line-height: 2;
  font-weight: normal;
  margin: 20px 32px 0;
}

.u-section-8 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-text-9 {
  line-height: 2;
  font-weight: normal;
  margin: 20px 32px 0;
}

.u-section-8 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 581px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 581px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 123px;
    margin-right: 100px;
  }

  .u-section-8 .u-text-7 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-8 .u-text-8 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-8 .u-text-9 {
    margin-left: 26px;
    margin-right: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 148px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-6 {
    margin-left: 74px;
    margin-right: 51px;
  }

  .u-section-8 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-2 {
    padding: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}